<div class="row" *ngIf="role==='administrateur'">
  <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
    <div class="statbox widget box box-shadow">
      <p-fileUpload #form name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>

    </div>


    <div class="card">

      <table class="table">
        <tr *ngFor="let file of files">
          <!-- <td>{{fullpath+file.path}}</td> -->
          <td>
            <!-- <img src={{file.path}} alt=""> -->
            <a class="btn" target="_blank" rel="noopener noreferrer" href={{file.path}}> {{file.name}}</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div>
</div>
