<style>
  body {
    background: #eee;
    margin-top: 20px;
  }

  .page-inner.no-page-title {
    padding-top: 30px;
  }

  .page-inner {
    position: relative;
    min-height: calc(100% - 56px);
    padding: 20px 30px 40px 30px;
    background: #f3f4f7;
  }

  .card.card-white {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    padding: 25px;
  }

  .grid-margin {
    margin-bottom: 2rem;
  }

  .profile-timeline ul li .timeline-item-header {
    width: 100%;
    overflow: hidden;
  }

  .profile-timeline ul li .timeline-item-header img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
  }

  .profile-timeline ul li .timeline-item-header p {
    margin: 0;
    color: #000;
    font-weight: 500;
  }

  .profile-timeline ul li .timeline-item-header p span {
    margin: 0;
    color: #8e8e8e;
    font-weight: normal;
  }

  .profile-timeline ul li .timeline-item-header small {
    margin: 0;
    color: #8e8e8e;
  }

  .profile-timeline ul li .timeline-item-post {
    padding: 20px 0 0 0;
    position: relative;
  }

  .profile-timeline ul li .timeline-item-post>img {
    width: 100%;
  }

  .timeline-options {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0 10px 0;
  }

  .timeline-options a {
    display: block;
    margin-right: 20px;
    float: left;
    color: #2b2b2b;
    text-decoration: none;
  }

  .timeline-options a i {
    margin-right: 3px;
  }

  .timeline-options a:hover {
    color: #5369f8;
  }

  .timeline-comment {
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
  }

  .timeline-comment .timeline-comment-header {
    overflow: hidden;
  }

  .timeline-comment .timeline-comment-header img {
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }

  .timeline-comment .timeline-comment-header p {
    color: #000;
    float: left;
    margin: 0;
    font-weight: 500;
  }

  .timeline-comment .timeline-comment-header small {
    font-weight: normal;
    color: #8e8e8e;
  }

  .timeline-comment p.timeline-comment-text {
    display: block;
    color: #2b2b2b;
    font-size: 14px;
    padding-left: 40px;
  }

  .post-options {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;
  }

  .post-options a {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    float: left;
    color: #2b2b2b;
    text-decoration: none;
    font-size: 16px !important;
  }

  .post-options a:hover {
    color: #5369f8;
  }

  .online {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ccc;
  }

  .online.on {
    background: #2ec5d3;
  }

  .online.off {
    background: #ec5e69;
  }

  #cd-timeline::before {
    border: 0;
    background: #f1f1f1;
  }

  .cd-timeline-content p,
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
  }

  .cd-timeline-img.cd-success {
    background: #2ec5d3;
  }

  .cd-timeline-img.cd-danger {
    background: #ec5e69;
  }

  .cd-timeline-img.cd-info {
    background: #5893df;
  }

  .cd-timeline-img.cd-warning {
    background: #f1c205;
  }

  .cd-timeline-img.cd-primary {
    background: #9f7ce1;
  }

  .page-inner.full-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .user-profile-card {
    text-align: center;
  }

  .user-profile-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .team .team-member {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;
    position: relative;
  }

  .team .team-member .online {
    top: 5px;
    right: 5px;
  }

  .team .team-member img {
    width: 40px;
    float: left;
    border-radius: 50%;
    margin: 0 5px 0 5px;
  }

  .label.label-success {
    background: #43d39e;
  }

  .label {
    font-weight: 400;
    padding: 4px 8px;
    font-size: 11px;
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }

  .bb {
    margin-left: 200px;
  }

  #fileInput {
    display: none;
  }

  #envo {
    display: none;
  }

  #icon {
    width: 25px;
    cursor: pointer;
  }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
  <div class="page-inner no-page-title">
    <!-- start page main wrapper -->
    <div id="main-wrapper">
      <div class="row">
        <div class="col-lg-5 col-xl-3">
          <div class="card card-white grid-margin">
            <div class="card-heading clearfix">
              <h4 class="card-title text-center"></h4>
            </div>
            <div class="card-body user-profile-card mb-3">
              <img src="{{fullpath}}{{data.image}}" class="user-profile-image rounded-circle"
                alt="" />
              <h4 class="text-center h6 mt-2">{{data.name}} {{data.last_name}}</h4>
              <p class="text-center small">UI/UX Designer</p>
              <button class="btn btn-theme btn-sm">Follow</button>
              <button class="btn btn-theme btn-sm">Message</button>
            </div>


          </div>
        </div>

        <div class="col-lg-7 col-xl-6">
          <form (ngSubmit)="insertData()">
            <div class="card card-white grid-margin">
              <div class="card-body">
                <div class="post">
                  <textarea class="form-control" placeholder="Quoi de neuf, {{user}} ?" name="content"
                    [(ngModel)]="accueil.content" rows="4"></textarea>
                  <div class="post-options">
                    <label for="fileInput">
                      <img id="icon" src="../../../assets/img/bg2.png">
                    </label>
                    <input id="fileInput" type="file" type="file" name="filepath" (change)="onFileSelectidoc($event)"
                      [(ngModel)]="accueil.filepath">
                    <button type="submit" class="btn btn-outline-primary float-right">Post</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="profile-timeline" *ngFor="let post of accueils;let i = index">
            <ul class="list-unstyled">

              <li class="timeline-item">
                <div class="card card-white grid-margin">
                  <div class="card-body">
                    <div class="timeline-item-header">
                      <img src="{{fullpath}}{{post.users.image}}" alt="" />
                      <tr class="d-flex bd-highlight">
                        <td class="p-2 flex-grow-1 bd-highlight">
                          <p>{{post.users.name}} {{post.users.last_name}} </p>
                          <p><small> {{post.displayTime}}</small></p>
                        </td>
                        <td class="p-2 bd-highlight"><i class="fa fa-times " aria-hidden="true"
                            *ngIf="user===post.users.name" (click)="deletepost(post.id)"></i> </td>
                      </tr>
                    </div>
                    <div class="timeline-item-post">
                      <p>{{post.content}}</p>
                      <div class="meta-author">
                        <!-- <a href="{{fullpath}}{{a.filepath}}">{{a.filepath}}</a> -->
                       <img *ngIf="post.filepath != null" class="figure-img img-fluid rounded" width=650px src="{{fullpath}}{{post.filepath}}">
                      </div>
                      <div class="timeline-options">
                        <a href="#"><i class="fa fa-thumbs-up"></i> Like (0)</a>
                        <a href="#"><i class="fa fa-comment"></i> Comment ({{post.commentaire.length}})</a>

                      </div>
                      <div class="timeline-comment" *ngFor="let c of  post.commentaire">
                        <div class="timeline-comment-header">
                          <img src="{{fullpath}}{{c.users.image}}" alt="" />
                          <tr class="d-flex bd-highlight">
                            <td class="p-2 flex-grow-1 bd-highlight">
                              <p>{{c.users.name}} {{c.users.last_name}}  </p>
                              <p><small>{{c.displayTime}}</small></p>
                            </td>
                            <td class="p-2 bd-highlight"> <i class="fa fa-times" title="supprimer" aria-hidden="true"
                                *ngIf="user===c.users.name" (click)="deleteData(c.id)"></i>
                            </td>
                          </tr>
                        </div>
                        <p class="timeline-comment-text">{{c.content}}</p>

                        <p class="timeline-comment-text">{{c.filepath}}</p>

                      </div>
                        <tr class="d-flex bd-highlight">
                          <td class="p-2 flex-grow-1 bd-highlight"> <textarea class="form-control"
                              placeholder="Ecrivez votre commentaire..." name="content"
                              [(ngModel)]="commentaires.content"></textarea></td>
                          <td class="p-2 bd-highlight">
                            <div class="post-options">
                              <label for="envo">
                                <img (click)="idpost=post.id;insertcomm(i);commentaires.content=''" src="../../../assets/img/env.png" width=22px title="envoyer">
                              </label>


                            </div>
                          </td>
                        </tr>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 col-xl-3">
          <div class="card card-white grid-margin">
            <div class="card-heading clearfix">
              <h4 class="card-title">Suggestions</h4>
            </div>
            <div class="card-body">
              <div class="team">
                <div class="team-member">
                  <div class="online on"></div>
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
                <div class="team-member">
                  <div class="online on"></div>
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
                <div class="team-member">
                  <div class="online off"></div>
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="card card-white grid-margin">
            <div class="card-heading clearfix">
              <h4 class="card-title">Some Info</h4>
            </div>
            <div class="card-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
    </div>

  </div>
</div>
