<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container-fluid" *ngIf="role==='administrateur'||role==='chef amicale'">
  <form [formGroup]="addmore" (ngSubmit)="insertData()">
    <div class="card">
      <div class="card-header text-center">
        <h1>Ajouter un sondage</h1>
      </div>
      <div class="card-body">


        <div class="row">

          <div class="col-sm-4">
            <th>Titre</th>

              <input matInput formControlName="message" [(ngModel)]="sondage.message" class="form-control">

          </div>

        </div>

        <div class="row">
          <div class="col-sm-12 table-responsive" formArrayName="itemRows">
            <table class="table">
              <thead>
                <tr>
                  <th style="white-space: nowrap;padding-right: 4em;float:center"><span
                      class="required-field"></span>Choix</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemrow of addmore.controls.itemRows['controls']; let i=index" [formGroupName]="i">

                  <td style="white-space: nowrap;"> <input id="choix{{i}}" formControlName="choix" class="form-control">
                  </td>


                  <td> <button *ngIf="addmore.controls.itemRows.controls.length > 1" (click)="deleteRow(i)"
                      class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td> <button type="button" (click)="addNewRow()" class="btn btn-primary "><i
                        class="fa fa-plus-circle" aria-hidden="true"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>


      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-rounded bg">Ajouter</button>
      </div>
    </div>
  </form>

</div>


<style>
  body {
    background: #dcdcdc;
  }
h3{
color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
h3:before, h3:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}
h3:before {
	left: 0;
}

 h3:after {
	right: 0;
}
  .bg {
    background: #837e7e;
  }

  .bg-blue {
    background: linear-gradient(to right, #0f8a19, rgb(4, 54, 10)) !important;
    color: #fff;
  }

  .checkout-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fafbfa;
  }

  .checkout {
    background-color: #fff;
    border: 1px solid #eaefe9;
    font-size: 14px;
  }

  .panel {
    margin-bottom: 0px;
  }

  .checkout-step {
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
  }

  .checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
  }

  .checkout-step-title {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
  }

  .checout-address-step {}

  .checout-address-step .form-group {
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
  }

  .checkout-step-body {
    padding-left: 60px;
    padding-top: 30px;
  }

  .checkout-step-active {
    display: block;
  }

  .checkout-step-disabled {
    display: none;
  }

  .checkout-login {}

  .login-phone {
    display: inline-block;
  }

  .login-phone:after {
    content: '+91 - ';
    font-size: 14px;
    left: 36px;
  }

  .login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .login-phone:after,
  .login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
  }

  .checkout-login .btn {
    height: 42px;
    line-height: 1.8;
  }

  .otp-verifaction {
    margin-top: 30px;
  }

  .checkout-sidebar {
    background-color: #fff;
    border: 1px solid #eaefe9;
    padding: 30px;
    margin-bottom: 30px;
  }

  .checkout-sidebar-merchant-box {
    background-color: #fff;
    border: 1px solid #eaefe9;
    margin-bottom: 30px;
  }

  .checkout-total {
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .checkout-invoice {
    display: inline-block;
    width: 100%;
  }

  .checout-invoice-title {
    float: left;
    color: #30322f;
  }

  .checout-invoice-price {
    float: right;
    color: #30322f;
  }

  .checkout-charges {
    display: inline-block;
    width: 100%;
  }

  .checout-charges-title {
    float: left;
  }

  .checout-charges-price {
    float: right;
  }

  .charges-free {
    color: #43b02a;
    font-weight: 600;
  }

  .checkout-payable {
    display: inline-block;
    width: 100%;
    color: #333;
  }

  .checkout-payable-title {
    float: left;
  }

  .checkout-payable-price {
    float: right;
  }

  .checkout-cart-merchant-box {
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 20px;
  }

  .checkout-cart-merchant-name {
    color: #30322f;
    float: left;
  }

  .checkout-cart-merchant-item {
    float: right;
    color: #30322f;
  }

  .checkout-cart-products {}

  .checkout-cart-products .checkout-charges {
    padding: 10px 20px;
    color: #333;
  }

  .checkout-cart-item {
    border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;
  }

  .checkout-item-list {}

  .checkout-item-count {
    float: left;
  }

  .checkout-item-img {
    width: 60px;
    float: left;
  }

  .checkout-item-name-box {
    float: left;
  }

  .checkout-item-title {
    color: #30322f;
    font-size: 14px;
  }

  .checkout-item-unit {}

  .checkout-item-price {
    float: right;
    color: #30322f;
    font-size: 14px;
    font-weight: 600;
  }

  .checkout-viewmore-btn {
    padding: 10px;
    text-align: center;
  }

  .header-checkout-item {
    text-align: right;
    padding-top: 20px;
  }

  .checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
  }

  .checkout-promise-item i {
    padding-right: 10px;
    color: #43b02a;
  }
  .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
</style>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div id="accordion" class="checkout">
<h3>La liste des Sondages</h3>
<p class="hint-text">Veuillez sélectionner votre choix s'il vous plaît</p>
        <div *ngFor="let sond of sondages;let i =index" class="panel checkout-step">
          <div role="tab" id="headingThree"> <span class="checkout-step-number">{{i+1}}</span>
            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse"
                data-parent="#accordion" href="#message{{sond.id}}"> {{sond.message}}</a> </h4>
                      <a class="table-link danger float-right" title="supprimer" (click)="deleteData(sond.id)"*ngIf="role==='administrateur'||role==='chef amicale'">
                        <span class="fa-stack  fa-lg p-2">
                          <i class="fa fa-trash-o " aria-hidden="true"></i>
                        </span>
                      </a>
          </div>

          <div id="message{{sond.id}}" class="panel-collapse collapse">
            <div class="checkout-step-body">
              <form [formGroup]="choixForm" (ngSubmit)="onSubmit(sond.id)">
                <div class="row">
                  <div class="form-group">

                    <div class="col-md-12">
                      <div  class="radio">
                        <label for="time-0">
                            <thead  >
<tr>
  <th style="white-space: nowrap;padding-right: 4em;float:center">choix</th>
  <th style="white-space: nowrap;padding-right: 4em;float:center">nombre de resultat</th>
</tr></thead>
                          <table  class="table b11"*ngFor="let c of sond.choix">
                         <tbody><tr class="b3">
                          <td ><input type="radio" formControlName="reponce" name="reponce" [value]="c.choix">{{c.choix}}</td>
                          <td>{{occurence(sond,c.choix)}}</td>
                          </tr>
                          </tbody>
                        </table>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="d-flex justify-content-center"> <button type="submit"class=" btn btn-rounded bg-blue "><i class="fa fa-check-circle"
                    aria-hidden="true"></i></button></div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
