<div class="row">
  <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing" >
    <div class="statbox widget box box-shadow">
      <form (ngSubmit)="updateUser()">
        <button type="button" class="btn btn-secondary" routerLink="../../user">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg> retour</button>
        <div class="form-row mb-4">
          <div class="form-group col-md-6">
          <label for="inputAddress">Name</label>
          <input type="text" name="name" class="form-control" id="inputName" placeholder="exp ali tounsi"
            [(ngModel)]="user.name"></div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email" [(ngModel)]="user.email">
            </div>
        </div>

        <div class="form-row mb-4">
          <div class="form-group col-md-6">
            <label for="inputCity">Birthday</label>
            <input type="date" class="form-control" id="myDate" name="birthday" value="2017-06-01"
              [(ngModel)]="user.birthday">

          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Role</label>
           <select id="role" class="form-control"name="role" [(ngModel)]="user.role">
              <option *ngFor="let role of roles" [values]="role.id">
                {{role.name}}
              </option>
            </select>
          </div>

        </div>
        <div class="form-row mb-4">
          <div class="form-group col-md-6">

  <label for="inputZip">Telephone</label>
  <input type="text" class="form-control" name="tel" id="inputZip" [(ngModel)]="user.tel">
</div></div>
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
      </form>
      <script>
        function myFunction() {
          var x = document.getElementById("myDate").value;
          document.getElementById("demo").innerHTML = x;
        }
      </script>

    </div>

  </div>

</div>
