<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <!-- activeDayIsOpen -->
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<h3>
  Edit events
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
    Ajouter un evenement
  </button>

  <div class="clearfix"></div>
</h3>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Evenement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="insertData()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputname4">Titre</label>
              <input type="text" class="form-control" name="titre" placeholder="titre" [(ngModel)]="event.titre">
            </div>
            <div class="form-group col-md-6">
              <label for="inputadresse4">Date d'evenement</label>
              <input type="date" class="form-control" name="date_devent" id="myDate" [(ngModel)]="event.date_devent">
            </div>

          </div>
          <div class="form-group">

            <label for="inputadresse4">Description</label>
            <textarea class="form-control" name="description" rows="3" [(ngModel)]="event.description"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputname4">Date d'ouverture </label>
              <input type="date" class="form-control" id="myDate" name="date_overture_inscrit"
                [(ngModel)]="event.date_overture_inscrit">
            </div>
            <div class="form-group col-md-6">
              <label for="inputadresse4">Date de cloture</label>
              <input type="date" class="form-control" id="myDate" name="date_cloture_inscrit"
                [(ngModel)]="event.date_cloture_inscrit">
            </div>
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label for="inputPassword4">Télécharger image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept="*"  (change) = onChange($event) >
                <label class="custom-file-label" for="customFile"></label>
              </div>
            </div> -->
            <div class="form-group col-md-6">
              <label for="inputPassword4">Nombre de place</label>
              <input type="number" class="form-control" id="inputPassword4" name="nb_place" placeholder="00"
                [(ngModel)]="event.nb_place">
            </div>
          </div>
          <script>
            function myFunction() {
              var x = document.getElementById("myDate").value;
              document.getElementById("demo").innerHTML = x;
            }
          </script>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>


      </div>

    </div>
  </div>
</div>

<div class="row layout-top-spacing" *ngIf="eventsClicked">
  <div id="card_2" *ngFor="let eventt of eventsClicked">
    <div class="statbox widget box box-shadow">
      <div class="widget-content widget-content-area">
        <div class="card component-card_2">
          <img src={{eventt.image}} class="card-img-top" alt="widget-card-2">
          <div class="card-body">
            <h5 class="card-title">{{eventt.titre}}</h5>
            <textarea class="form-control" name="description" rows="4" readonly>{{eventt.description}}</textarea>
            <p class="card-text">{{eventt.date_devent}}</p>
            <button (click)="getlistofUser(eventt.id)" type="button" class="btn btn-primary float-right">
              detail
            </button>
                        <button (click)="inscrit(eventt)" type="button" class="btn btn-primary float-right"
                          >
                          inscrit
                        </button>
                        <button (click)="annuler(eventt)" type="button" class="btn btn-primary float-right">
                          annulation
                        </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h5>Description: {{eventSelected.description}}</h5>
        <h5>Date de levenement{{eventSelected.date_devent}}</h5>
        <h5>Date de l'inscrit:{{eventSelected.date_overture_inscrit}}</h5>
        <h5>Date de Cloture:{{eventSelected.date_cloture_inscrit}}</h5>
        <!-- <p>{{eventt.image}}</p> -->
        <h5>Nombre de place:{{eventSelected.nb_place}}</h5>
        <!-- <p>{{eventt.statut}}</p> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<table class="table" *ngIf="usersoftheevent">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>affected</th>
  </tr>
  <tr *ngFor="let user of usersoftheevent">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
      <span *ngIf="user.pivot.affecter===1; else elseBlock" class="btn btn-primary" >affecter</span>
      <ng-template  #elseBlock><span class="btn btn-danger">makech affecter</span> </ng-template>
    </td>
  </tr>
</table>
