<div class="row layout-top-spacing">
  <div id="btnGroupHorizontal" class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
          <div>
            <button type="button" class="btn btn-secondary" routerLink="../../challenge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-left">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
              </svg> retour</button>
          </div>
          <hr>
          <form>
            <div class="form-row mb-4">
              <div class="form-group col-md-6">
                <h6>Nom de l'agence</h6>
                <div>
                  <select id="agenceSelected" class="form-control" name="agenceSelected" [formControl]="agenceid">
                    <option *ngFor="let agence of agencess" [value]="agence.id">
                      {{agence.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-6">
                <h6>Select agance rank</h6>
                <div>
                  <select id="agenceRang" class="form-control" name="agenceRang" [formControl]="agenceRang">
                    <option *ngFor="let num of rang" [value]="num">
                      {{num}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="col text-center">
              <p><button class="btn btn-outline-secondary" (click)="onSubmit()">valider</button></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
