<style>
  .section-title {
    padding-bottom: 45px;
  }

  .section-title svg {

    border-left: 5px solid #fc5356;

  }
</style>


<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" routerLink="../../convention"
          stroke-linejoin="round" class="feather feather-arrow-left">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg><b>Retour</b>
      </div>
    </div>
  </div>
</div>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
  <div class="row d-flex ">
    <div class="col-12 col-md-4 mb-4 mt-2" *ngFor="let c of convention">
      <div class="card  h-100 border-light  bg-light shadow">
        <div class="card-body d-flex-row">
          <div class="d-flex align-items-center align-self-end">
            <div class="meta-author">
              <img class="figure-img img-fluid rounded" width=400px src="{{fullpath}}{{c.image}}">
            </div>
          </div>
          <div class="m-2">
            <b>{{c.titre}}</b>
          </div>
          <img src="../../../assets/img/placeholder.png" width=22px>Adresse: {{c.adresse}}<br>
          <img src="../../../assets/img/phone-call.png" width=22px alt="author avatar">Tel: {{c.tel}}<br>

          <img src="../../../assets/img/schedule.png" width=22px>Debut: {{c.date_debut}}<br>
          <img src="../../../assets/img/schedule.png" width=22px>Fin: {{c.date_fin}}<br>
          <img src="../../../assets/img/link.png" width=22px alt="author avatar" title_view="vvv"><a
            href="{{fullpath}}{{c.document}}">{{c.document}}</a>
          <br>
          <div class="w-100 pb-1"></div>
          <blockquote class="blockquote mb-4 pb-2">

            <p class="mb-0 font-weight-bold">{{c.description}}</p>
            <footer class="blockquote-footer">{{c.titre}}</footer>
          </blockquote>
        </div>
      </div>
    </div>

  </div>
</div>
